@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.inputLabel{
    color: #646464;
    border-radius: 4px;
    height: 56px;
    width: 282px;
    font-family: 'Roboto';
    font-size: 12px;
    

}

.inputField{
    padding-left: 16px;
    height: 25px;
    width: 282px;
    outline: none;
    background-color: rgba(0,0,0,0);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    font-family: 'Roboto';
    font-size: 16px;

}

.labelText{
    margin: 5px 10px;
    font-family: 'Roboto';
    font-size: 12px;
    padding: 0px 5px 0px;
    
}

.bottomText{
    font-family: 'Roboto';
    font-size: 12px;
    color: #7F7F7F;
    padding-left: 17px;
    display: inline-block;
}

.characterCount{
    text-align: end;
    font-family: 'Roboto';
    font-size: 12px;
    color: #7F7F7F;
    padding-left: 170px;
    display: inline-block;
}